# Build output files location
build

# Compilation database file location
.vscode

# CMake user presets file
CMakeUserPresets.json

# Ignore cached clangd files
.cache

# Ignore all KDevelop files
*.kdev*
